node_modules
.pnpm-store
.npm
.yarn
.yarn/cache

dist
build
coverage

logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.*
!.env.example

.git
.gitignore
.gitattributes

docker-compose.override.yml

*.db
*.sqlite
*.sqlite3
*.db-journal
*.sqlite-journal
*.sqlite3-journal
*.db-wal
*.sqlite-wal
*.sqlite3-wal
*.db-shm
*.sqlite-shm
*.sqlite3-shm

.DS_Store
Thumbs.db
.vscode
.idea

.tmp
tmp
.cache
.parcel-cache
.eslintcache
*.tsbuildinfo